<div class="all-tracks">
    <a href="/"><button>Go back</button></a>
    {{#each tracks}}
        <figure class="figure-card">
            <figcaption>{{this.track_number}}. {{this.name}}</figcaption>
            <audio controls>
                <source src="{{this.preview_url}}" type="audio/ogg">
            </audio>
        </figure>
    {{/each}}
</div>